h1{
    font-family: Arial, Helvetica, sans-serif ;
    color: black;
}

.borde{
    border: 2px black solid;
    height: 40px;
    width: 40px;
}

.rojo{
    background-color: red;
}

.blue{
    background-color: blue;
}